extends layout
block content
    if session.isLoggedIn
        div.row
            a(href="/post/create").btn.btn-primary New post
        br
    if !(posts && posts.length)
        p Nothing to see here. Move along...
    else
        div.posts.list-group
            each post in posts
                a(href="/post/#{post.id}").list-group-item.post= post.title