extends layout

block content
    form(method='post', action='/login', enctype='application/x-www-form-urlencoded').form-horizontal
        if invalid
            div(role='alert').alert.alert-warning Please enter a valid email address and password.
        div.form-group
            label(for='email').col-sm-2.control-label Email
            div.col-sm-10
                input#email(name='email', placeholder='Email').form-control
        div.form-group
            label(for='pass').col-sm-2.control-label Password
            div.col-sm-10
                input#pass(name='pass', type='password', placeholder='Password').form-control
        div.form-group
            div.col-sm-offset-2.col-sm-10
                input(type='submit', value='Log In').btn.btn-default